@import "./custom-colors.scss";

.card {
  border-radius: 25px;
  box-shadow: 0px 0px 10px $custom-purple-dark;
}

.home {
  background-color: $custom-purple;
  min-height: calc(100vh - 70px);
}

.card-content {
  border-radius: 15px;
}

.container .columns {
  align-items: center;
}

@media (max-width: 790px) {
  .columns.is-6:nth-child(2) {
    display: none;
  }
   
}
