@import "./custom-colors.scss";

.card {
  border-radius: 25px;
  box-shadow: 0px 0px 3px $custom-purple-dark;
}

.home {
  background-color: $custom-purple;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.home .columns > :nth-child(2) {
  padding: 0;
}

.card-content {
  border-radius: 15px;
}

.container .columns {
  align-items: center;
}

.presentation-item {
  display: none;
  transition: 1.5s;
}

.show {
  display: block;
}

.column > .title {
  margin: 12px;
}

@media (max-width: 550px) {
  .home .columns > :nth-child(2) {
    display: none;
  }
}

@media (max-width: 960px) {
  .home .columns {
    display: flex;
    justify-content: center;
  }

  .auth-form {
    width: 75% !important;
  }

  .presentation {
    display: none;
  }
}
